html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

.wrapper {
  position: relative;
  min-height: 100%;
  padding-bottom: 130px;
  overflow: auto;
}

select {
  display: block;
  width: 100%;
  padding: 8px;
  color: #8e979f;
  outline: none;
}

#table-area th {
  text-align: left;
}

#table-area th:first-child,
#table-area th:nth-child(2),
#table-area th:nth-child(6) {
  min-width: 70px;
}

.margin-top-50 {
  margin-top: 50px;
}

.margin-bottom-50 {
  margin-bottom: 50px;
}

.header-center {
  margin: auto;
  width: 60%;
  padding: 10px;
  margin-bottom: 50px;
} 

.jumbotron {
  /* background-image: url("../images/quarantineLogo.jpeg");
  background-size: cover;
  background-repeat: no-repeat; */
  /* border-top: solid lightgreen; 
  border-bottom: solid lightgreen;  */
  margin-top: -80px; 
  padding-bottom: 10px; 
} 